* {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}
html {
    overflow: hidden;
}
body {
    margin: 0 !important;
}
.layout {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-rows: 60px 60px auto 60px;
    grid-template-columns: 1fr;
    grid-template-areas: 'header' 'sidebar' 'main' 'footer';
    height: 100vh;
    background-color: #ccc;
}
/* *** */
/* ENCABEZADO*/
/* *** */
header {
    grid-area: header;
    background-color: #e27602;
    color: #031c5c;
    display: flex;
}
.contenedor-header {
    grid-area: header;
    position: fixed;
    border-bottom: 1px;
    background-color: rgb(245, 164, 14);
    z-index: 50;
}
.contenedor-header header {
    margin: auto;
    display: flex;
    height: 58px;
    justify-content: space-between;
    align-items: center;
    color: #fff;
    width: 100%;
    position: fixed;
    border-bottom: 1px;
    background-color: rgb(245, 164, 14);
    z-index: 50;
}
.txtNaranja {
    color: #2b09eb;
}
.yuo {
    margin-top: 0 20px 0;
    margin-left: 20px;
}
.contenedor-header header .redes a {
    text-decoration: none;
    color: #fff;
    display: inline-block;
    padding: 5px 8px;
}
.contenedor-header header .redes a:hover {
    color: #ff1133;
}
.nav-responsive {
    display: none;
    font-size: 25px;
}
/* *** */
/* SIDEBAR*/
/* *** */
aside {
    grid-area: sidebar;
    background-color: #FCF8F3;
    display: flex;
    flex-direction: column;
    justify-content: initial;
    align-items: center;
}
.myButton {
    box-shadow: 8px 11px 11px -7px #030303c4;
    background: linear-gradient(to bottom, #fdfcfc 5%, #e7e9e9 100%);
    background-color: #ccc;
    border-radius: 14px;
    display: inline-block;
    align-items: center;
    cursor: pointer;
    color: #3700ffaf;
    font-family: Arial;
    font-size: 16px;
    font-weight: bold;
    padding: 13px 32px;
    text-decoration: none;
    text-shadow: 0px 0px 0px #3d768a;
    margin-top: 30px;
    margin-left: 15px;
    width: 50%;
}
a {
    text-decoration: none;
    color: #3700ffaf;
}
.myButton>i {
    color: #000000;
}
.myButton:hover {
    background: linear-gradient(to bottom, #fff 5%, #fff 75%);
    background-color: #ccc;
}
.myButton:active {
    position: relative;
    top: 1px;
}
.sidebar {
    background-color: #FCF8F3;
    width: 200px;
    padding: 20px;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    height: 100%;
}
/* *** */
/* MAIN*/
/* *** */
main {
    grid-area: main;
    display: flex;
    width: 100%;
    height: 100%;
    background-color: #EFEFEF;
    overflow: auto;
    scrollbar-width: none;
    height: 100%;
}
#datos-container {
    width: 100%;
}
#datos-tabla {
    width: calc(100% - 100px);
    margin-left: 50px;
    margin-top: 50px;
    margin-right: 50px;
    border: 1px solid #000;
    border-collapse: collapse;
    font-family: 'Poppins', sans-serif;
}
thead th {
    background-color: #ccc;
    width: 15%;
    padding: 12px;
    border: 1px solid #ddd;
    text-align: left;
}
tbody td {
    background-color: #f9f9f9;
    padding: 10px;
    border: 1px solid #ddd;
    padding: 5px;
    width: 15%;
}
tbody tr:nth-child(even) {
    background-color: #f9f9f9;
}
table td,
table th {
    height: 15px;
}
/* *** */
/* FOOTER */
/* *** */
footer {
    grid-area: footer;
    background-color: #ccc;
    padding: 5px;
}
/* *** */
/* RESPONSE */
/* *** */
@media (min-width: 480px) {
    .layout {
        display: grid;
        grid-template-rows: 60px auto 40px;
        grid-template-columns: 200px auto;
        grid-template-areas:
            'header header header'
            'sidebar main main'
            'footer main main';
    }
}
.content {
    /*background-color: #000;*/
    width: 100%;
    height: 7%;
}
#view-container {
    border: 1px solid #ccc;
    padding: 20px;
    background-color: #fff;
    height: 100%;
}