*{
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
  }

body {
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    padding: 0;
}

.login-container {
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    position: relative;
    width: 18rem;
    height: 25rem;
    margin: 100px auto;
    background: linear-gradient(136deg, rgba(109, 153, 210, 0.67) 28%, rgba(214, 213, 213, 0.67)50%, rgba(248, 191, 121, 0.67)75%);
    border: 1mm ridge rgba(226, 227, 215, 0.6);
}

.logo {
    text-align: center;
    margin-bottom: 20px;
}

.logo img {
    width: 90px;
    height: auto;
    border-radius: 50%;
}

h2 {
    text-align: center;
    color: #333;
}

.input-group {
    position: relative;
    top: 40px;
    margin-bottom: 20px;
}

.login-container input[type="email"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-sizing: border-box;
}

.input-group i {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    color: #888;
}

input {
    width: 100%;
    padding: 10px 8px 5px 5px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
}
.btn{
    display: flex;
    justify-content: center;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%);
}

button {
    margin-right: 15px;
    margin-left: 15px;
    width: 125px;
    padding: 10px;
    background-color: #ffa500;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    float: right;
}

button:hover {
    background-color: #ff8c00;
}
@media (max-width: 480px) {
    .login-container {
        margin-top: 50px;
    }
}  