/* *********** */
/* TABLA ROLES */
/* *********** */
        body {
            font-family: Arial, sans-serif;
        }
        table {
            border-collapse: collapse;
            width: 600px;
           
            margin: 20px auto;
            box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
        }
        th, td {
            border: 1px solid #e0e0e0;
            padding: 12px;
            text-align: center;
        }
        th {
            background-color: #f8f8f8;
            font-weight: bold;
            color: #333;
        }
        .role {
            text-align: left;
            font-weight: bold;
            color: #444;
        }
        .header {
            background-color: rgb(245, 164, 14);
            color: white;
        }
        input[type="checkbox"] {
            appearance: none;
            -webkit-appearance: none;
            width: 20px;
            height: 20px;
            border: 2px solid #d39f38;
            border-radius: 4px;
            outline: none;
            cursor: pointer;
            position: relative;
            transition: all 0.3s;
        }
        input[type="checkbox"]:checked {
            background-color: #d39f38;
        }
        input[type="checkbox"]:checked::before {
            content: '\2713';
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            color: white;
            font-size: 14px;
        }
        input[type="checkbox"]:hover {
            background-color: #e6f2ff;
        }
 /* ***FIN TABLA ROLES*** */