<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/AreaAdmin.css">
</head>

<body>
    <table id="datos-tabla">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>CI</th>
                <th>Teléfono</th>
                <th>Correo</th>
                <th>Fecha de Nacimiento</th>
                <th>Domicilio</th>
            </tr>
        </thead>

        <tbody>
            <!-- Los datos serán insertados aquí -->
        </tbody>
    </table>
</body>

</html>